.bag1 {
  width: 100%;
  height: 160px;
  margin-top: 1px;
   margin-top: 170px;
}
.bag1-top {
  position: relative;
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bag1-top-back {
  position: absolute;
  inset: 0;
  background-image: url(../image/bag1/gol.svg);
  background-repeat: repeat;
  opacity: 0.3;
  z-index: 0;
}

.bag1-top-center {
  position: relative;
  z-index: 2;
  max-width: 200px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag1-top-center h1 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  color: #ee3043;
}
.bag1-cent {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#treemounth,
#sevenday{
  display: none;
}
#treemounth:checked ~ .treemounth-content{
 display: flex; 
}
.bag1 input[type="radio"] {
  display: none;
}
.bag1 input:checked + label {
  color: #e91834 !important;
}
.bag1-cent-center {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 4px;
}
.bag1-cent-center-first1 {
  width: 350px;
  height: 5px;
  background-color: antiquewhite;
  background:  linear-gradient(to right, #ee3043, #ffffff);
}
.bag1-cent-center-first2 {
  width: 350px;
  height: 5px;
  background-color: antiquewhite;
  background: linear-gradient(to left, #ee3043, #ffffff);
}
.bag1-cent-center-second {
  width: 270px;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bag1-cent-center-link {
  text-decoration: none;
  display: block;
}
.bag1-cent-center-second-one {
  font-family: var(--font-family);
  
  color: #000;
  font-size: 16px;
}
.bag1-cent-center-second-two {
  font-family: var(--font-family);

  color: #000;
  font-size: 16px;
}
