.box1 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1-center {
  width: 100%;
  max-width: 1350px;
  height: 460px;
  border: 1px lightgray solid;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.box1-center-div1 {
  height: 100%;
  width: 335px;
  border-left: 1px lightgray solid;
}
.box1-center-div1-text {
  width: 100%;
  height: 65px;
  h1 {
    font-family: var(--font-family);
    color: #0f0f0f;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 20px;
  }
  p {
    font-family: var(--font-family);
    color: #0f0f0f;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 20px;
  }
}
.box1-center-div1-img {
  width: 100%;
  height: 300px;
}
.box1-center-div1-img-first {
  width: 300px;
  height: 150px;
  border-bottom: 1px lightgray solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 15px;
  a {
    text-decoration: none;
  }
  img {
    width: 130px;
    height: 130px;
    margin-top: 15px;
  }
}
.box1-center-div1-img-second {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 15px;
  a {
    text-decoration: none;
  }
  img {
    margin-bottom: 8px;
    width: 130px;
    height: 130px;
  }
}

.box1-center-div1-link {
  width: 100%;
  height: 40px;
}
.box1-center-div1-link-a {
  margin-top: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: var(--font-family);
    font-size: 12px;
    color: #29b3c9;
  }
}

.box1-center-div2 {
  height: 100%;
  width: 335px;
  border-left: 1px lightgray solid;
}
.box1-center-div2-img {
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box1-center-div2-img-first {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px lightgray solid;
}
.box1-center-div2-img-first-img1 {
  width: 150px;
  height: 100%;

  border-left: 1px lightgray solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 130px;
    height: 130px;
  }
}
.box1-center-div2-img-first-img2 {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 130px;
    height: 130px;
  }
}
.box1-center-div2-img-second {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box1-center-div2-img-second-img3 {
  width: 150px;
  height: 100%;
  border-left: 1px lightgray solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 130px;
    height: 130px;
  }
}
.box1-center-div2-img-second-img4 {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 130px;
    height: 130px;
  }
}
.box1-center-div3 {
  height: 100%;
  width: 335px;
  border-left: 1px lightgray solid;
}
.box1-center-div4 {
  height: 100%;
  width: 335px;
}
