.dior1 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dior1-center {
  width: 100%;
  max-width: 1340px;
  height: 100%;
  overflow: hidden;
}
.dior1-center-top{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dior1-center-top span{
  font-family: var(--font-family);
  font-size: 20px;
  color: black;
}
.swiper-slide-dior1{
  width: 176px;
  height: 320px;
}
.swiper-slide-dior1 .shp-dior1-div1{
  width: 100%;
  height: 160px;
  padding: 2px;
}
.swiper-slide-dior1 .shp-dior1-div1-link{
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block;
}
.swiper-slide-dior1 .shp-dior1-div1-link img{
width: 100px;
height: 100px;
display: block;
margin: 2px auto;
margin-bottom: 6px;
}
.swiper-slide-dior1 .shp-dior1-div1-link span{
  font-family: var(--font-family);
  font-size: 14px;
  color: black;
opacity: 0.8;
display: block;
  text-align: center;
}
.swiper-slide-dior1 .shp-dior1-div2{
  width: 100%;
  height: 160px;
  padding: 2px;
}
.swiper-slide-dior1 .shp-dior1-div2-link{
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block;
}
.swiper-slide-dior1 .shp-dior1-div2-link img{
width: 100px;
height: 100px;
display: block;
margin: 2px auto;
margin-bottom: 6px;
}
.swiper-slide-dior1 .shp-dior1-div2-link span{
  font-family: var(--font-family);
  font-size: 14px;
  color: black;
opacity: 0.8;
display: block;
  text-align: center;
}
