.favaret {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.favaret-center {
  width: 100%;
  max-width: 1350px;
  height: 100%;
  border: 1px lightgray solid;
  border-radius: 20px;
  overflow: hidden;
padding-bottom: 10px;
}
.favaret-center-one {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
padding-bottom: 5px;
}
.favaret-center-one img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.favaret-center-one span {
  font-family: var(--font-family);
  font-size: 18px;
  color: #000000;
}
.swiper-slide-item {
  width: 140px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px lightgray solid;
  padding-bottom: 10px !important;
}
.swiper-slide-item .last-child {
  border-left: none !important;
}
.swiper-slide-item img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  overflow: hidden;
}
.swiper-slide-item-link {
  text-decoration: none;
}
