.header {
  width: 100%;
  height: 170px;
  box-shadow: 0 1px 2px gray;
  box-sizing: border-box;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-banner {
  max-width: 100%;
  height: 60px;
  cursor: pointer;
}
.header-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-search {
  max-width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-search-center {
  max-width: 1700px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 500px;
}
.header-search-center-right {
  width: 880px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-search-center-right-logo {
  /*جدید نوشتم خودم از فیلم*/
  height: 100%;
  display: flex;
  align-items: center;
}
.header-search-center-right-logo img {
  width: 195px;
  height: 30px;
}
.header-search-center-right-searchbox {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px;
}
.header-search-center-right-searchbox input[type="text"] {
  width: 600px;
  height: 40px;
  background-color: #f0f0f1;
  border-radius: 5px;
  opacity: 0.8;
  padding-right: 70px;
  outline: none;
  border: none;
  font-size: 20px;
}
.header-search-center-right-searchbox img {
  width: 24px;
  height: 52px;
  position: absolute;
  cursor: pointer;
  right: 50px;
  opacity: 0.6;
}
.header-search-center-right-search-box input[type="text"]::placeholder {
  font-family: var(--font-family);
}
.header-search-center-left {
  height: 100%;
  /* background-color: #f0f0f1; */
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.header-search-center-left-bell {
  width: 24px;
  height: 24px;
}
.header-search-center-left-register {
  display: block;
  width: 135px;
  height: 40px;
  background-color: #ffffff !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  font-family: var(--font-family);
  font-size: 12px;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: bold;
  background-color: whitesmoke;
  border: 1px solid lightgray;
}
.header-search-center-left-register img {
  width: 24px;
  height: 24px;
}
.header-search-center-left-register div {
  width: 1px;
  height: 12px;
  background-color: #2b2b2b;
}
.divider {
  width: 1px;
  height: 25px;
  background-color: lightgray;
  margin-right: 1px !important;
  margin-left: 4px;
  column-gap: 18px;
}
.header-search-center-left a {
  text-decoration: none;
}
.header-search-center-left a {
  text-decoration: none;
}

/*منو هدددددرررررر */
.header-menu {
  width: 100%;
  height: 40px;
}
.header-menu-center {
  max-width: 1630px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  position: relative;
}
.header-menu-center-right {
  width: 840px;
  height: 100%;
  display: flex;
  column-gap: 1px;
  /* position: relative; */
}
.header-menu-center-right div {
  width: auto;
  height: 100%;
}
/* جدیددددد*/

.header-menu-center-right-nav {
  width: auto;
  height: 100%;
}
.header-menu-center-right .header-menu-center-right-nav .submenu {
  max-width: 60vw;
  height: 70vh;
  position: absolute;
  /* background-color: #2b2b2b; */
  z-index: 9999;
  box-shadow: 0 0 25px #2b2b2b;
  direction: rtl;
  overflow: visible;
   display: none;  
  /* overflow-y: auto;
  overflow-x: hidden; */
}
.header-menu-center-right .header-menu-center-right-nav:hover .submenu {
  display: block;
}
.header-menu-center-right
  .header-menu-center-right-nav
  .submenu
  .submenu-right {
  background-color: rgb(224, 222, 222);
  height: 100%;
  overflow: auto;
  direction: ltr;
}
.submenu-right-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.header-menu-center
  .header-menu-center-right
  .header-menu-center-right-nav
  .submenu
  .submenu-right
  .submenu-right-item {
  width: 100%;
  height: 40px;
  direction: rtl;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-menu-center
  .header-menu-center-right
  .header-menu-center-right-nav
  .submenu
  .submenu-right
  .submenu-right-item
  .submenu-right-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #000;
  font-family: var(--font-family);
  text-decoration: none;
  &:hover {
    background-color: #ffffff;
    color: red !important;
    border-bottom: none;
    .submenu-right-link img {
      color: red !important;
    }
  }
}
.submenu-right-link:hover img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(7000%)
    hue-rotate(0deg);
}
.header-menu-center
  .header-menu-center-right
  .header-menu-center-right-nav
  .submenu
  .submenu-right
  .submenu-right-item
  .submenu-right-submenu {
  width: 700px;
  height: 70vh;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 100%;
  top: 0;
  border-bottom-left-radius: 16px;
  display: none;
}

.header-menu-center
  .header-menu-center-right
  .header-menu-center-right-nav
  .submenu
  .submenu-right
  .submenu-right-item:hover
  .submenu-right-submenu {
  display: block;
}
.active-menuuu{
  display: block !important;
}
.submenu-right-submenu-scolor {
  overflow-y: auto;
  overflow-x: hidden;
  direction: ltr;
}
.submenu-right-submenu .topppp {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  direction: rtl;
}
.submenu-right-submenu .topppp span {
  font-family: var(--font-family);
  color: rgb(58, 201, 201);
  font-size: 14px;
}
.submenu-right-submenu .botemmm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.submenu-right-submenu .botemmm .botemmm-on {
  width: 150px;
}
.submenu-right-submenu .botemmm .botemmm-on .botemmm-on-firy div {
  width: 2px;
  height: 30px;
  background-color: red;
}
.submenu-right-submenu .botemmm .botemmm-on .botemmm-on-firy {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  direction: rtl;
}
.submenu-right-submenu .botemmm .botemmm-on .botemmm-on-firy span {
  font-family: var(--font-family);
  font-size: 14px;
  color: #000;
  margin: 0 8px;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.submenu-right-submenu .botemmm .botemmm-on .botemmm-on-firy img {
  text-align: center;
  cursor: pointer;
  &:hover {
    filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(7000%)
      hue-rotate(0deg);
  }
}
.submenu-right-submenu .botemmm .botemmm-on h1 {
  font-family: var(--font-family);
  font-size: 10px;
  cursor: pointer;
  color: #2b2b2b;
  margin-bottom: 10px;
  direction: rtl;
  padding: 4px;
  &:hover {
    color: red;
  }
}




.header-menu-center-right div a {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 12px;
  color: gray;
  line-height: 40px;
  padding: 0 10px;
  align-items: center;
  column-gap: 5px;
  transition: 300ms;
}
.header-menu-center-right div a:hover {
  border-bottom: 1px solid red;
}
/*خط های هدر منو بین گزینه ها نمیاددددددد */
.header-menu-center-right .diliverr {
  width: 1px;
  height: 18px;
  background-color: lightgray;
  margin: 10px auto;
}
.active-menu {
  font-size: 14px !important;
  font-weight: bold;
  color: #2b2b2b !important;
}
.active-menu img {
  width: 20px;
  height: 20px;
}
.active-menu-offer img {
  width: 18px;
  height: 18px;
}
.header-menu-center-left {
  height: 100%;
  padding-bottom: 3px !important;
  position: relative;
  background-color: #fef6ef;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 3px;
  border-radius: 19px;
  padding: 5px;
  margin-bottom: 8px;
}
label[for="city"] {
  font-family: var(--font-family);
  font-size: 12px;
  color: #f7630e;
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 100%;
  background-color: #fef6ef;
  border-radius: 19px;
  padding: 5px 5px;
  cursor: pointer;
}
.header-menu-center-left .text-hidden {
  width: 308px;
  height: 70px;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #3a166b;
  border-radius: 8px;
  padding: 8px 12px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}
.header-menu-center-left .text-hidden > p {
  font-family: var(--font-family);
  color: whitesmoke;
  font-size: 12px;
  line-height: 25px;
}
.header-menu-center-left:hover .text-hidden {
  opacity: 1;
  visibility: visible;
}
.header-menu-center-left-a-center {
  background-color: #2b2b2b44;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2000;
  justify-content: center;
  align-items: center;
}
#city {
  display: none;
}
#city:checked ~ .header-menu-center-left-a-center {
  display: flex;
}
.header-menu-center-left-a-center-firstt {
  width: 464px;
  height: 726px;
  background-color: #ffffff;
  border-radius: 10px;
  position: fixed;
  z-index: 2500;
  overflow-y: auto;
  overflow-x: hidden;
}
label[for="closese"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  font-size: 28px;
}
#closese {
  display: none;
}
#closese:checked ~ .header-menu-center-left-a-center-firstt {
  display: none;
}
.header-menu-center-left-a-center-firstt-top {
  padding: 15px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu-center-left-a-center-firstt-top span {
  font-family: var(--font-family);
  font-size: 16px;
  color: #000;
}
.linekhate {
  width: 450px;
  height: 2px;
  background-color: lightgray;
  margin: 4px auto;
}
.header-menu-center-left-a-center-firstt-box {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-center-left-a-center-firstt-box img {
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  right: 40px;
  opacity: 0.6;
}
.header-menu-center-left-a-center-firstt-box input[type="text"] {
  width: 411px;
  height: 51px;
  background-color: #f0f0f1;
  border-radius: 5px;
  opacity: 0.8;
  padding-right: 50px;
  outline: none;
  border: none;
  font-size: 12px;
}
.header-menu-center-left-a-center-firstt-box input[type="text"]::placeholder {
  font-family: var(--font-family);
}
.header-menu-center-left-a-center-firstt-textt {
  padding: 12px;
  width: 100%;
  height: 100px;
  line-height: 28px;
}
.header-menu-center-left-a-center-firstt-textt span {
  font-family: var(--font-family);
  font-size: 15px;
  color: #2b2b2b;
}
.header-menu-center-left-a-center-firstt-textt h1 {
  font-family: var(--font-family);
  font-size: 16px;
  color: #2b2b2b;
}
.swii {
  width: 100%;
  height: 50px;
  padding: 0 10px;
}
.swiper-slider-itemone {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: 1px lightgray solid;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.swiper-slider-itemone span {
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 14px;
  color: #2b2b2b;
}
.swiper-slider-itemone img {
  cursor: pointer;
  width: 20px !important;
  height: 20px !important;
  color: lightgray;
}
.header-menu-center-left-a-center-firstt-last {
  width: 420px;
  height: 40px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px lightgray solid;
}
.header-menu-center-left-a-center-firstt-last span {
  font-family: var(--font-family);
  font-size: 14px;
  color: #000;
  display: inline-block;
  cursor: pointer;
}
.header-menu-center-left-a-center-firstt-last h1 {
  font-family: var(--font-family);
  font-size: 14px;
  color: rgb(146, 146, 146);
  display: inline-block;
  margin-right: 4px;
  cursor: pointer;
}
.header-menu-center-left-a-center-firstt-last img {
  margin-right: 230px;
  cursor: pointer;
}
