.headd {
  position: fixed;
  width: 48px;
  height: 48px;
  background-color: #029a49;
  z-index: 9999;
  border-radius: 50px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left:40px;
  cursor: pointer;
}
.toot {
  position: fixed;
  bottom: 68px;
  left: 40px;
  width: 100%;
  padding: 2px;
  max-width: 380px;
  height: 520px;
  background-color: #029a49;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 9998;
}
.toot-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #fff;
  font-size: 14px;
}
#headd {
  display: none;
}
#headd:checked ~ .toot {
  display: flex;
}

#headd,
#clo {
  display: none;
}
.toot-top span {
  font-family: var(--font-family);
  font-size: 16px;
  color: #fff;
  font-weight: 200;
}
.toot-top img {
  color: #fff;
  cursor: pointer;
}
.toot-center {
  flex: 1;
  background: #fff;
  overflow-y: auto;
  padding: 15px;
}
.toot-center-one {
  width: 100%;
  height: 40px;
}
.toot-center-one span {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 200;
  color: #000;
}

.toot-center-two {
  width: 100%;
  height: 78px;
}
.toot-center-two span {
  font-family: var(--font-family);
  font-size: 14px;
  color: #000;
  line-height: 35px;
}
.toot-center-tree {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px lightgray solid;
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
}
.toot-center-tree summary {
  list-style: none;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  position: relative;
  color: #000;
}
.toot-center-tree summary::-webkit-details-marker {
  display: none;
}

.toot-center-tree summary::after {
  content: "^";
  position: absolute;
  left: 0;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.toot-center-tree[open] summary::after {
  transform: rotate(180deg);
}
.toot-center-tree .khati {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 10px 0;
}
.toot-center-tree-div {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 24px;
  color: #2b2b2b;
}
.toot-center-four {
  width: 130px;
  height: 50px;
  background-color: #ef4056;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px auto;
}
.toot-center-four span {
  font-family: var(--font-family);
  color: #fff;
  font-size: 16px;
}
