.hedphone{
    position: fixed;
    width: 48px;
    height: 48px;
    background-color: #EF4056;
    z-index: 9999;
    border-radius: 50px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    cursor: pointer;
}
.tested{
  position: fixed;
  bottom: 68px;
  right: 40px;
  width: 100%;
  padding: 2px;
  max-width: 380px;   
  height: 520px;
  background-color: #EF4056;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  box-shadow: 0 10px 40px rgba(0,0,0,0.25);
  overflow: hidden;
  z-index: 9998;
}
.tested-top{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #fff;
  font-size: 14px;
}
#head {
  display: none;
}
#head:checked ~ .tested {
  display: flex;
}

#head,
#closechat {
  display: none;
}
.tested-top span{
    font-family: var(--font-family);
    font-size: 16px;
color: #fff;
font-weight: 200;
}
.tested-top img{
    color: #fff;
    cursor: pointer;
}
.tested-center{
  flex: 1;
  background: #fff;
  overflow-y: auto;
  padding: 15px;
}
.tested-center-one{
    width: 100%;
    height: 40px;
}
.tested-center-one span{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 200;
    color: #000;
}

.tested-center-two{
    width: 100%;
    height: 78px;
}
.tested-center-two span{
font-family: var(--font-family);
font-size: 14px;
color: #000;
line-height: 35px;
}
.tested-center-tree {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px lightgray solid;
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
}
.tested-center-tree summary {
  list-style: none;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  position: relative;
   color: #000;
}
.tested-center-tree summary::-webkit-details-marker {
  display: none;
}

.tested-center-tree summary::after {
  content: "^";
  position: absolute;
  left: 0;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.tested-center-tree[open] summary::after {
  transform: rotate(180deg);
}
.tested-center-tree .khati {
  width: 100%;
  height: 1px;
  background-color:lightgray;
  margin: 10px 0;
}
.tested-center-tree-div {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 24px;
  color: #2b2b2b;
}
.tested-center-four{
  width: 130px;
  height: 50px;
   background-color: #EF4056; 
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px auto;
  }
  .tested-center-four span{
    font-family: var(--font-family);
    color: #fff;
    font-size: 16px;
  }
  