@import "./header.css";
@import "./setting.css";
@import "./slider.css";
@import "./story.css";
@import "./pack1.css";
@import "./line.css";
@import "./Inc.css";
@import "./picture.css";
@import "./pict.css";
@import "./dior.css";
@import "./packtwo.css";
@import "./favaret.css";
@import "./box1.css";
@import "./sale.css";
@import "./sale2.css";
@import "./khandani.css";
@import "./price1.css";
@import "./packtwo2.css";
@import "./box2.css";
@import "./footer.css";
@import "./theend.css";
/*supermarket*/
@import "./header1.css";
@import "./slider1.css";
@import "./shegeft.css";
@import "./dior1.css";
@import "./chart.css";
@import"./headd.css";
/*porforosh*/
@import "./header2.css";
@import "./bag1.css";
@import "./tabs.css";
/*position*/
@import"./hedphone.css";
@import "./super.css";