.packtwo2 {
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: center;
}
.packtwo2-center {
  width: 100%;
  max-width: 1350px;
  height: 100%;
  display: flex;
  justify-content:space-between !important;
  align-items: center;
}
.packtwo2-center-item {
  width: 660px;
  height: auto;
  margin-top: 20px;
}
.packtwo2-center-item-link{
  text-decoration: none;
}
.packtwo2-center-item-link img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}