.tabs {
  width: 100%;
  max-width: 90%; 
  margin: 0 auto; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  gap: 8px; 
  padding: 15px 0; 
  box-sizing: border-box;
}
.tabs label {
  padding: 10px 20px;
  background: #fff;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s;
  font-family: var(--font-family);
  color: #2b2b2b;
  border: 1px lightgray solid;
  font-size: 14px; 
  white-space: nowrap;
  flex-shrink: 0; 
  text-align: center;
}
.tabs input:checked + label {
  background: rgb(253, 238, 238);
  color: #e91834;
  border: 1px #e91834 solid;
}
/* محتوای تب‌ها */
.content {
  width: 100%;
  max-width: 90%;
  margin: 50px auto;
 display: none;
 align-items: center;
 justify-content: center;
   margin-top: 20px;
  flex-wrap: wrap;
}
/* کارت محصول */
.content .productend-pack {
    width: 100%;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .content .productend-pack1 {
  width: 1600px;
  background-color: crimson;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */
.productend {
  width: 275px;
  height: 521px;
  border-bottom: 1px lightgray solid;
  border-left: 1px lightgray solid;
  &:hover{
    box-shadow: 0 0 25px #2b2b2b;
  }
}
.productend-one {
  width: 100%;
  height: 30px;
  padding: 2px;
  margin-bottom: 2px;
}
.productend-one div {
  width: 36px;
  height: 27px;
  background-color: #19bfd3;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: var(--font-family);
  color: whitesmoke;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productend-two {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.productend-two img {
  width: 240px;
  height: 240px;
}
.productend-tree {
  width: 100%;
  height: 50px;
  padding: 4px;
  margin-bottom: 2px;
  padding-right: 10px;
}
.productend-tree span {
  font-family: var(--font-family);
  font-size: 12px;
  color: #2b2b2b;
}
.productend-four {
  width: 100%;
  height: 30px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}
.productend-four-first {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 3px;
}
.productend-four-first span {
  font-family: var(--font-family);
  font-size: 12px;
  color: #1d1d1d;
}
.productend-four-first img {
  width: 20px;
  height: 20px;
  color: #2b17dd;
}

.productend-four-second {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: flex-end;
}
.productend-four-second span {
  font-family: var(--font-family);
  font-size: 12px;
  color: #1d1d1d;
}
.productend-four-second img {
  width: 20px;
  height: 20px;
}
.productend-five {
  width: 100%;
  margin-bottom: 2px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productend-five-right {
  width: 34px;
  height: 20px;
  background-color: #d32f2f;
  border-radius: 10px;
  font-family: var(--font-family);
  color: whitesmoke;
  font-size: 15px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productend-five-left {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
}
.productend-five-left h1 {
  font-family: var(--font-family);
  color: #000;
  opacity: 0.8;
  font-size: 18px;
  margin-left: 5px;
}
.productend-five-left img {
  width: 17px;
  height: 17px;
}
.productend-six {
  width: 100%;
  height: 30px;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
.productend-six h1 {
  text-decoration: line-through;
  font-family: var(--font-family);
  font-size: 15px;
  color: lightgray;
  margin-left: 20px;
}
.productend-seven {
  width: 100%;
  height: 50px;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 16px;
  column-gap: 2px;
}
.productend-seven .hourse1,
.minute1,
.seconde1,
.colon1 {
  font-family: var(--font-family);
  color: #d32f2f;
  font-size: 16px;
}

#mobile:checked ~ #mobile-content,
#digital:checked ~ #digital-content,
#home:checked ~ #home-content,
#kala:checked ~ #kala-content,
#toys:checked ~ #toys-content,
#poshak:checked ~ #poshak-content,
#khoraki:checked ~ #khoraki-content,
#book:checked ~ #book-content,
#pet:checked ~ #pet-content,
#bargh:checked ~ #bargh-content,
#child:checked ~ #child-content,
#health:checked ~ #health-content,
#makeup:checked ~ #makeup-content,
#sport:checked ~ #sport-content,
#abzar:checked ~ #abzar-content,
#motor:checked ~ #motor-content,
#bomi:checked ~ #bomi-content,
#gif:checked ~ #gif-content,
#gold:checked ~ #gold-content {
  display: flex;
  gap: 1px;
}
.tabs input[type="radio"] {
  display: none;
}
