.theend {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f1;
}
.theend-center {
  width: 100%;
  max-width: 1645px;
  height: 100%;
}
.theend-center-top {
  width: 100%;
  height: 80px;
  border-bottom: 1px #e0e0e2 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theend-center-top-img1 {
  width: 186px;
  height: 100%;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img2 {
  width: 186px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img3 {
  width: 186px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img4 {
  width: 186px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img5 {
  width: 186px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img6 {
  width: 186px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img7 {
  width: 186px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img8 {
  width: 186px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-top-img9 {
  width: 186px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom {
  width: 100%;
  height: 80px;
  border-bottom: #e0e0e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theend-center-bottom-img1 {
  width: 209px;
  height: 100%;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom-img2 {
  width: 209px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom-img3 {
  width: 209px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom-img4 {
  width: 209px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom-img5 {
  width: 209px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom-img6 {
  width: 209px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom-img7 {
  width: 209px;
  height: 79px;

  border-left: 1px #e0e0e2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
.theend-center-bottom-img8 {
  width: 209px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 40px;
  }
}
